@charset "UTF-8";
// 占位符 在这里. # % 会当做占位符来使用

#wrap div%b_color {
	color: #ccc;
}

.one {
	@extend %b_color;
	margin:0;
	padding:0;
}
#two {
	@extend %content !optional; //没有这个也不会报错
	font-size: 12px;
}

#three {
	@extend .one //扩展继承
}